body{
  padding: 0;
  margin: 0;
  font-family: Tahoma, serif;
  background-size: cover;
  width: auto;
 
  background: linear-gradient(to left, rgba(14, 73, 2, 0.979) 21%, transparent 120%);
} 
header img{
margin-left: 35px;

}

header{
  background-image: url(back.png);
  border: 6px solid #000000;
  color: rgb(0, 0, 0);
  font-size: 50px; font-size: 36px; /* Размер шрифта */
  font-weight: bold; /* Жирное начертание */
  margin: 0; /* Убираем отступы */
text-align: center;
height: 50px;
}
header,footer {
 
  padding: 0.5px 0;
 
}
h1{
 
 padding-left: 1350px;
  color: rgb(0, 0, 0);
  font-size: 50px; font-size: 36px; /* Размер шрифта */
  font-weight: bold; /* Жирное начертание */
  margin: 0; /* Убираем отступы */
  
}

.snowflake {
color: rgb(12, 167, 22);
font-size: 1em;
font-family: Arial;
text-shadow: 0 0 1px rgb(255, 255, 255);
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

table{
  padding-left: 100px;
  width: 1200px;
  
}
table p{
  background: linear-gradient(to  right, rgba(12, 44, 4, 0.836), 50%, rgba(236, 233, 233, 0.801) 55%);
  text-align: center;
  margin-left: 120px;
  border-top: 10px solid #000000ab;
  border-left: 4px solid #000000ab;
border-right: 4px solid #000000ab;
border-bottom: 10px solid #000000ab;
}
table img{
  border-top: 10px solid #000000ab;
  border-left: 4px solid #000000ab;
border-right: 4px solid #000000ab;
border-bottom: 10px solid #000000ab;
}
footer{
  background: linear-gradient(to top right, rgba(12, 44, 4, 0.836), 50%, rgba(236, 233, 233, 0.801) 55%);
text-align: center;
padding-right: 600px;
height: 60px;
font-size: 20px;
border-top: 6px solid #000000ab;
border-left: 4px solid #000000ab;
border-right: 4px solid #000000ab;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgb(0, 0, 0);
  box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 8px 0 rgba(0, 0, 0, 0.315);
}
.button:hover {
  box-shadow: inset 0 0 20px rgba(0,0,0,.2),
  0 2px 0 rgba(255,255,255,.4);
  inset 0 2px 0 rgb(0, 0, 0);
  box-shadow: 0 2px 10px rgb(0, 0, 0);
  box-shadow: 0 3px 20px rgba(0,0,0,.25);
  border-right: 20px solid #000000;
}




.knop{
    
    margin-left: 245px;
}

.c-button {
  display: inline-block;
  margin: 40px;
  width: 100px;
  height: 100px;
 margin-left: 150px;
 cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 20px 20px rgb(255, 255, 255),
  inset 0 2px 0 rgb(42, 148, 15),
  0 2px 0 rgb(255, 255, 255),
  inset 0 0 20px rgb(0, 0, 0);
}

.btn-1 {
  background: url(6.png);
}
.btn-2 {
  background: url(21.png);
}
.btn-3 {
  background: url(100.png);
}
.photo-container-3 {
  border: 6px solid #000000ab;
  max-width: 1200px;
  width: 900px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.photo-container-3 img {
  width: 900px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.photo-container-3 .photo-1 {
  position: relative;
  animation: scale 10s linear 5s infinite;
  overflow: hidden;
}
.photo-container-3 .photo-2 {
  position: absolute;
  overflow: hidden;
  top: 0;
  animation: scale 10s linear infinite;
}

@keyframes scale {
  0% {
      transform: scale(0);
      border-radius: 50%;
  }
  10% {
      transform: scale(1);
      border-radius: 50%;
  } 
  15% {
      border-radius: 0;
  }    
  49.99999% {
      z-index: 1;
  }   
  50% {
      z-index: -1;
  }  
  100% {
      transform: scale(1.04);
      z-index: -1;
      border-radius: 0;
  }  
}

footer p{
 
  margin-right: 300px;
}
.tarify{
  margin-left: 62px;
}
.tarify img {
  margin-bottom: 30px;
}
.o1{
  margin-left: 40px;
  margin-bottom: 20px;
  border-top: 10px solid #000000ab;
  border-left: 4px solid #000000ab;
border-right: 4px solid #000000ab;
border-bottom: 10px solid #000000ab;

}
.o2{
  margin-left: 40px;
  margin-bottom: 20px;
}
input[type="text"]{
  width: 260px;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  border: 3px solid rgb(0, 0, 0);
  
  
  padding: 10px 10px 10px   50px;
  margin-top: 20px;
 
}
input[type="text"]:hover{
  background-color: rgb(123, 211, 35);
 
  font-size: 20px;
}
input[type="text"]:focus{
  padding: 10px;
  transition: all 0.3s ease-out;
  transition-delay: 0.2s;
  color: #ffffff;
  background-color: rgb(26, 51, 1);
  }
  .kno{
    margin-right: 180px;
  }
button{
  margin-top: 20px;
  height: 80px;
  width: 260px;
  color: #000000;
}
footer a {
text-align: center;
font-size: 15px;
  color: rgb(0, 0, 0);
  margin-bottom: 50px;
  
}


.oformit{
  color: #000000;
 margin-left:1px;
  width: 258px;
  height:57px;
  background: url(oformi1.png);
  text-align: center;
  font-size: 1px;
  margin-top: 4px;
}

#content{
  margin-bottom: 0px;
  background: rgba(31, 59, 4, 0.24);
  width: 260px;
  margin-left: 620px;
  border-top: 10px solid #000000ab;
  border-left: 4px solid #000000ab;
border-right: 4px solid #000000ab;
border-bottom: 10px solid #000000ab;
margin-bottom: 79px;
}
.btn-success{
  margin-left: 0px;
  cursor: pointer;
 
  background: url(zakazat.png);
}.btn-succes{
  margin-left: 0px;
  cursor: pointer;
 font-size: 22px;
  background-color: #4CAF50;
}.vhod{
  color: #000000;
 margin-left:1px;
  width: 258px;
  height:57px;
background-color: #4CAF50;
  text-align: center;
  font-size: 1px;
  margin-top: 4px; font-size: 22px;

}